* {
    outline: 1px solid rgba(0, 0, 0, 0.2); /* Linea sottile per tutti gli elementi */
}

div, header, body, footer, section, article, aside, nav {
    outline: 2px solid black; /* Evidenzia in rosso i principali contenitori */
}


/* Background-color per visionare i blocchi */
header{
    background-color: pink;
}
main{
    background-color: lightcoral;
}
footer{
    background-color: blue;
}