* {
    outline: 5px dashed rgba(255, 0, 0, 0.2); /* Linea sottile per tutti gli elementi */
}

/* Background-color per visionare i blocchi */
header{
    background-color: #265EE9;
}
main{

    
}

.container-main-1 , 
.container-main-3 {
    background-color: rgb(242, 247, 134);
}