
/* Css Header */

header {
    text-align: center;
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.container-nav {
    display: flex;
    justify-content: space-around;

}

.container-header {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 15px;
    width: 400px;

} 

/* Css Main */

main {
    height: 2000px;
}

.container-main-1{
    height: 25%;
}

.container-main-2{
    background-color: yellow;
    height: 25%;
}

.container-main-3{
    background-color: green;
    height: 25%;
}

.container-main-4{
    background-color: orange;
    height: 25%;
}